<div class="mdl-grid demo-content">
    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-grid base-class mdl-cell--8-col">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">Creación de Usuarios</h3>
        </div>
        <img ng-src="/rm-admin/assets/img/ring.svg" ng-if="userDetailController.loading" alt="Cargando...">
        <div class="mdl-card__supporting-text">
            <md-content layout-padding>
                <div>
                    <form name="userForm">
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Nombre de usuario</label>
                                <input ng-model="userDetailController.user.user">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Contraseña/label>
                                <input ng-model="userDetailController.user.password" type="password">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Correo</label>
                                <input ng-model="userDetailController.user.email">
                            </md-input-container>
                        </div>
                    </form>
                </div>
            </md-content>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-click="userDetailController.save(userDetailController.user)">
                    Guardar
            </button>
        </div>
    </div>
</div>