<div class="mdl-grid demo-content">
    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-grid base-class mdl-cell--12-col">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">Configuración de Usuarios</h3>
        </div>
        <img ng-src="/rm-admin/assets/img/ring.svg" ng-if="userDetailController.loading" alt="Cargando...">
        <div class="mdl-card__supporting-text">
            <form>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="user" ng-model="userDetailController.user.user">
                    <label class="mdl-textfield__label" for="user">Nombre de usuario...</label>
                </div>
                <br/>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="password" id="password" ng-model="userDetailController.user.password">
                    <label class="mdl-textfield__label" for="password">Contraseña...</label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-click="userDetailController.save(user)">
                    Guardar
                </button>
            </form>
        </div>
    </div>
</div>