<md-dialog aria-label="Editar rally: {{rally.name}}" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editar rally: {{rally.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="column" ng-cloak class="md-inline-form">
          <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
            <div layout-gt-xs="row">
              <md-input-container>
                <label>Nombre</label>
                <input ng-model="rally.name">
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Nivel</label>
                <md-select ng-model="rally.level">
                  <md-option ng-repeat="level in levels" value="{{level.id}}">
                    {{level.name}}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-datepicker ng-model="rally.startDate" md-placeholder="Fecha inicio">
              </md-datepicker>
            </div>
          </md-content>
          <md-content layout-padding>
            <div>
              <form name="userForm">
                <div layout-gt-xs="row">
                  <md-input-container class="md-block" flex-gt-xs>
                    <label>Países</label>
                    <md-chips ng-model="countries" md-autocomplete-snap md-transform-chip="transformChip($chip)" md-require-match="true">
                      <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.name"
                        placeholder="Otro país">
                        <span md-highlight-text="searchText">{{item.name}} :: {{item.type}}</span>
                      </md-autocomplete>
                      <md-chip-template>
                        <span>
                          <strong>{{$chip.name}}</strong> 
                        </span>
                      </md-chip-template>
                    </md-chips>
                  </md-input-container>
                </div>

                <md-input-container class="md-block">
                  <label>Descripción</label>
                  <textarea ng-model="rally.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                </md-input-container>
              </form>
            </div>
          </md-content>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="close()" style="margin-right:20px;">
        Cancelar
      </md-button>
      <md-button ng-click="save()" style="margin-right:20px;">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>