<div class="mdl-grid demo-content">
    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-grid base-class mdl-cell--12-col">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">Configuración de Rallies</h3>
        </div>
        <img ng-src="/rm-admin/assets/img/ring.svg" ng-if="rankingCtrl.loading" alt="Cargando...">
        <div class="mdl-card__supporting-text">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width" st-pipe="configRallyCtrl.callServer" st-table="configRallyCtrl.rallies">
                <thead>
                    <tr>
                        <th st-sort="id">ID</th>
                        <th st-sort="name" class="mdl-data-table__cell--non-numeric md-width">Rally</th>
                        <th st-sort="description" class="mdl-data-table__cell--non-numeric full-width">Nivel</th>
                        <th class="mdl-data-table__cell--non-numeric">Opciones</th>
                    </tr>
                </thead>
                <tbody ng-show="!configRallyCtrl.isLoading">
                    <tr ng-repeat="rally in configRallyCtrl.rallies">
                        <td>{{rally.id}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{rally.name}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{rally.level.name}}</td>
                        <td>
                            <button ng-click="configRallyCtrl.showEditBox($event, rally)" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">mode edit</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="configRallyCtrl.isLoading">
                    <tr>
                        <td colspan="4" class="text-center">Cargango ... </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>