<md-dialog aria-label="{{country.name}}" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{country.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="column" ng-cloak class="md-inline-form">
          <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
            <div>
              <md-input-container>
                <label>Nombre</label>
                <input ng-model="country.name">
              </md-input-container>
            </div>
          </md-content>
          <md-content layout-padding>
            <div>
              <form name="userForm">

            <md-input-container class="md-block">
              <label>Descripción</label>
              <textarea ng-model="country.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
            </md-input-container>
            </form>
          </div>
        </md-content>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="close()" style="margin-right:20px;">
        Cancelar
      </md-button>
      <md-button ng-click="save()" style="margin-right:20px;">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>