<div class="mdl-grid demo-content">
    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text" ng-bind="answersCtrl.questionInfo.name"></h3>
        </div>
        <div class="mdl-card__supporting-text">
            <ul class="mdl-list ">
                <li class="mdl-list__item mdl-list__item--two-line mdl-card__actions mdl-card--border" ng-repeat="rally in scoresCtrl.rallies">
                    <span class="mdl-list__item-primary-content">
                    <label>{{answer.group.user}} - {{answer.group.country.name}}:</label>
                <span ng-show="answer.answer.indexOf('URL:') !== 0" class="product-description"> {{answer.answer}}</span>
                    <div ng-show="answer.answer.indexOf('URL:') === 0">
                        <a ng-repeat="resource in answer.resources" href="{{resource.downloadUrl}}">
                            <span class="glyphicon glyphicon-download-alt"></span> Descargar
                        </a>
                    </div>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Main content -->
<section class="content">

    <div class="box box-primary">
        <div class="box-header with-border">
            <div ng-bind-html="answersCtrl.questionInfo.plainText">

            </div>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <ul class="products-list product-list-in-box">
                <li class="item" ng-repeat="answer in answersCtrl.answers">
                    <div class="product-info">
                        <span class="product-title">
                          {{answer.group.user}} - {{answer.group.country.name}}:
                        </span>
                        <span class="pull-right"><input type="number" class="form-control" placeholder="5" ng-model="answer.points"/><a href="" class="btn btn-default" ng-click="answersCtrl.savePoints(answer.id, answer)">Guardar Nota</a></span>
                        <span ng-show="answer.answer.indexOf('URL:') !== 0" class="product-description"> {{answer.answer}}</span>
                        <div ng-show="answer.answer.indexOf('URL:') === 0">
                            <a ng-repeat="resource in answer.resources" href="{{resource.downloadUrl}}">
                                <span class="glyphicon glyphicon-download-alt"></span> Descargar
                            </a>
                        </div>
                        <small>Recibida: {{answer.creationDate | date: 'dd/MM/yyyy'}}</small>
                    </div>
                </li>
                <!-- /.item -->
            </ul>
        </div>
    </div>
    <!-- Your Page Content Here -->

</section>
<!-- /.content -->