<div class="mdl-grid demo-content">
    <!-- ANSWERS -->
    <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">Respuestas</h3>
        </div>
        <img ng-src="/rm-admin/assets/img/ring.svg" ng-show="answersCtrl.loading" alt="Cargando...">
        <div class="mdl-card__supporting-text">
            <ul class="mdl-list ">
                <li class="mdl-list__item mdl-list__item--three-line mdl-card__actions mdl-card--border" ng-repeat="answer in answersCtrl.answers"
                    repeat-end>
                    <div class="mdl-list__item-primary-content">
                        <span>{{answer.group.user}} ({{answer.group.country.name}}):</span>
                        <div class="mdl-list__item-text-body">
                            <small>Recibida: {{answer.creationDate | date: 'dd/MM/yyyy'}}</small>
                            <span ng-show="answer.answer.indexOf('URL:') !== 0" class=""> {{answer.answer}}</span>
                            <div ng-show="answer.answer.indexOf('URL:') === 0">
                                <a ng-repeat="resource in answer.resources" href="{{resource.downloadUrl}}">
                                    <span class="glyphicon glyphicon-download-alt"></span> Descargar
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-list__item-secundary-content">
                        <small>
                        <form>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> 
                                <input class="mdl-textfield__input" id="points{{$index}}" type="number" min="0" max="10" ng-model="answer.points">
                                <label class="mdl-textfield__label" for="points{{$index}}">Puntos...</label>
                                <span class="mdl-textfield__error">Máximo 10 puntos!</span>
                            </div>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-click="answersCtrl.savePoints(answer.id, answer)">Guardar</button>
                        </form>
                        </small>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<a href="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored modal__trigger" data-modal="#dialogo">
            Ver pregunta
        </a>
<!-- QUESTION -->
<div id="dialogo" class="modal modal__bg">
    <div class="modal__dialog">
        <div class="modal__content">
            <p ng-bind-html="answersCtrl.questionInfo.plainText"></p>
        </div>
    </div>
</div>

<md-button class="md-primary md-raised" ng-click="answersCtrl.showAdvanced($event)">
      Custom Dialog
    </md-button>

<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Mango (Fruit)</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Using .md-dialog-content class that sets the padding as the spec</h2>
        <p>
          The mango is a juicy stone fruit belonging to the genus Mangifera, consisting of numerous tropical fruiting trees, cultivated mostly for edible fruit. The majority of these species are found in nature as wild mangoes. They all belong to the flowering plant family Anacardiaceae. The mango is native to South and Southeast Asia, from where it has been distributed worldwide to become one of the most cultivated fruits in the tropics.
        </p>
        <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="img/mangues.jpg">
        <p>
          The highest concentration of Mangifera genus is in the western part of Malesia (Sumatra, Java and Borneo) and in Burma and India. While other Mangifera species (e.g. horse mango, M. foetida) are also grown on a more localized basis, Mangifera indica&mdash;the "common mango" or "Indian mango"&mdash;is the only mango tree commonly cultivated in many tropical and subtropical regions.
        </p>
        <p>
          It originated in Indian subcontinent (present day India and Pakistan) and Burma. It is the national fruit of India, Pakistan, and the Philippines, and the national tree of Bangladesh. In several cultures, its fruit and leaves are ritually used as floral decorations at weddings, public celebrations, and religious ceremonies.
        </p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>