<div class="mdl-grid demo-content">
    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text" ng-bind="answersCtrl.questionInfo.name"></h3>
        </div>
        <div class="mdl-card__supporting-text">
            <ul class="mdl-list ">
                <li class="mdl-list__item mdl-list__item--two-line mdl-card__actions mdl-card--border" ng-repeat="answer in answersCtrl.answers">
                    <span class="mdl-list__item-primary-content">
                        <label>{{answer.group.user}} - {{answer.group.country.name}}:</label>
                        <small>Recibida: {{answer.creationDate | date: 'dd/MM/yyyy'}}</small>
                        <span ng-show="answer.answer.indexOf('URL:') !== 0" class="product-description"> {{answer.answer}}</span>
                    <div ng-show="answer.answer.indexOf('URL:') === 0">
                        <a ng-repeat="resource in answer.resources" href="{{resource.downloadUrl}}">
                            <span class="glyphicon glyphicon-download-alt"></span> Descargar
                        </a>
                    </div>
                    <span class="pull-right"><input type="number" class="form-control" placeholder="5" ng-model="answer.points"/><a href="" class="btn btn-default" ng-click="answersCtrl.savePoints(answer.id, answer)">Guardar Nota</a></span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>